DATABASE_PATH=./watchtower.sqlite3
SESSION_SECRET=change-me
MONITOR_INTERVAL_SECONDS=8
MAX_BLOCKS_PER_POLL=4
ENABLE_TRACE=false

ETHEREUM_RPC_URL=https://eth.llamarpc.com
BASE_RPC_URL=https://base.llamarpc.com
BSC_RPC_URL=https://bsc-dataseed.binance.org
